.headingWrapper {
  background-color: #006ebb;
  color: white;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 25px;
}

.approveButton {
  background-color: #006ebb;
  color: white;
  border: none;
  width: 5vw;
  height: 4vh;
  border-radius: 10px !important;
}
.tableText {
  color: #006ebb;
}
.docFontSize {
  font-size: 20px;
}
.tableWrapper tr {
  border: none !important;
}
.tableWrapper thead {
  border: none !important;
  border-color: #fff !important;
  background-color: #fff !important;
  text-decoration: underline !important;
}
