.container-accordion .accordion__button {
    background-color: #006ebb;
    color: white;
    cursor: pointer;
    padding: 9px;
    width: 100%;
    text-align: left;
    border: none;
    margin: 5px 0;
  }
  .container-accordion .accordion__button:hover {
    background-color: #006ebb;
  }
 
  .stepperButtonsLetter {
    width: 137px;
    height: 30px;
    background-color: #006ebb;
    color: #fff;
    border: 1px solid#006ebb;
    margin-left: 10px;
  }
  .container-accordion .accordion {
    border: none;
    border-radius: 0;
  }
  .container-accordion .accordion__item + .accordion__item {
    border-top: none;
  }
  .container-accordion .accordion__button:before {
    display: none;
  }
  .container-accordion .accordion__button:after {
    display: block;
    content: "";
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
    float: right;
    clear: both;
  }
  .container-accordion .accordion__button[aria-expanded="true"]::after,
  .container-accordion .accordion__button[aria-selected="true"]::after {
    transform: rotate(45deg);
  }
  /* .container-accordion .form-input.form-control {
    border-radius: 12.25rem;
  } */
  .container-accordion .reactDate.form-group .react-datepicker-wrapper {
    display: block !important;
  }
  .main-container.container {
    /* margin-top: 4rem; */
    padding: 4rem 0;
    text-align: center;
    background-color: white;
  }
  h5.offerHeading {
    font-weight: 700;
    text-transform: uppercase;
  }
  .middle-container.container {
    margin-top: 3rem;
  }
  .react-switch {
    vertical-align: middle;
  }
  .react-switch-bg {
    background: #006ebb !important;
  }
  canvas.react-pdf__Page__canvas {
    display: unset !important;
  }
  .react-pdf__Document {
    border: 1px solid lightgrey;
  }
  p.offerHeader {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
  }
  .componentButton{
    width: 100%;
    border-radius: 4px !important;
    outline-color: #006EBB !important;
    display: flex;
    /* white-space: nowrap; */
    white-space: normal; 
  }
  p.offerSubHeader {
    font-weight: 700;
    font-size: 15px;
  }
  
  span.boldText {
    font-weight: bold;
  }
  
  .modal-line {
    border: unset !important;
  }
  
  .digital-signature {
    margin-left: 50px;
  }
  
  .signature-text {
    color: rgb(42, 203, 243);
    text-align: center;
  }
  
  .preview-section {
    display: grid;
    justify-content: center;
  }
  
  .offer-letter-message {
    display: grid;
    justify-content: center;
  }
  
  .signature-center-text {
    text-align: center;
  }
  
  .disable-arrow {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .rehire {
    background-color: #006ebb;
  }
  .not-rehire {
    background-color: rgb(223, 28, 28) !important;
  }
  