*:focus, *:active, *:visited {
    outline: none !important;
    box-shadow: none !important;
  }
  button{
      border-radius: 12.25rem !important;
  }
  .btn.btn-sm.btn-primary {
    background-color: #006EBB !important;
    border-color: #006EBB !important;
}
button.apply-button.btn.btn-primary{
    color: black;
    background-color: white !important;
    font-weight: bold;
    margin: 7px 0;
    float: right;
    border-radius: 12.25rem;
   /*  padding: 6px 30px;
    font-size: 1rem; */
}
.row.apply-button-row{
    background-color: #006EBB;
    margin: 0;
}
.col.leaveApplications{
    color: white;
    font-weight: bold;
    line-height: 3em;
    font-size: 1rem;
}
.col-sm-12.main-heading-row {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.text-center{
    justify-content: center;
    display: flex;
}
.table thead th, .table tbody td{
    text-align: center;
}
.table thead{
    background-color: #e9ecef;
    border-color: #dee2e6;
}

option:disabled {
    background-color: lightgrey !important;
}
button.deleteNoButton.btn.btn-secondary {
    background-color: grey !important;
    border-color: grey !important;
}
h4.main-heading {
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
}
.form-control{
    font-size: 0.8rem;
}