.title_bar{
    background: royalblue;
    font-weight: bold;
    color: white;
    line-height: 3rem;
    font-weight: bold;
    text-align: right;
}
/* .modal-backdrop {
  background-color: transparent;
  opacity: 1.5;
} */
