.nodue_title{
    background: #006EBB;
    font-weight: bold;
    color: white;
    line-height: 3rem;
    font-weight: bold;
    text-align: center;
    width:1400px
}
nav.nav.nav-tabs a {
    font-weight: bold;
    font-size: 1.1rem;
    color: black
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #c7c7c7;
    border-color: #c7c7c7 #c7c7c7 #fff;
}
select.form-control.form-control-sm.darkBackground {
    background-color: #c7c7c7;
}
button.assign-button.btn.btn-secondary.btn-block.btn-sm {
    background-color: #615158 !important;
    border-color: #615158 !important;
}
small.form-text.text-muted{
    text-align: center;
    color: blue;
}
title{
    align-content: center;
    overflow: "auto";
}
/* .modal-backdrop {
  background-color: transparent;
  opacity: 1.5;
} */

.note{
    font-size: 13px;
}

thead th {
    position: sticky;
    top: 0; 
}

.tableFixHead {
   overflow: auto;
   height: 500px;
 }

 

.searchFeild{
    align-items: center;
}
.columnColor{
    border: "1px solid blue";
    background-color:aliceblue

}
.inputWrapper {
    border: none;
    box-shadow: none !important;
  }
  ::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .tableSize{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  .inputWrapper {
    border: none;
    box-shadow: none !important;
  }
  ::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .searchBox {
    margin-right: auto;
    width: 30% !important;
  }
  .selectList {
    margin-left: auto;
    width: 100% !important;
    display: inline-flex;
  }
  .mainWrapper {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .inputWrapper {
    width: 50% !important;
  }
  .selectInputWrapper {
    width: 50% !important;
  }