.headingColor {
  color: #006ebb;
}
.addButtonWrapper {
  margin-right: 230px;
}
.addButtonField {
  width: 90px !important;
  height: 30px;
  background-color: white;
  color: #006ebb;
  border: 1px solid #006ebb;
}
.previewButton {
  background-color: #006ebb !important;
}
.appointmentHeader {
  border: none !important;
}
.modal-content {
  width: 150% !important;
}
.signatureButtons {
  background-color: #006ebb !important;
  color: white;
  border: 1px solid #006ebb;
}
.appointmentLetter .modal-backdrop .show {
  opacity: 0 !important;
}
.circleCheckIcon {
  background-color: white;
  font-size: 24px;
  color: green;
  background-color: white;
  border-radius: 50%;
  height: 22px;
  width: 21px;
  padding-top: -13px;
}

.joiningField {
  /* width: 250% !important; */
  border-color: rgb(0, 110, 187) !important;
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
