.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
}
.fileInputField_upload {
  /* flex-grow: 1;
  height: 33px;
  border: 1px solid #aaa;
  margin-top: 0.5rem; */

  display: block !important;
  height: calc(1.5em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  width:100%;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.fileInput_upload {
  align-items: center;
  display: flex;
}
.tableHead1{
  height: "50px";
  background-color: "#006ebb";
  text-align: "center";
  color: "white"
}

.parentInputDoc {
  align-items: center;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
}

.fileInputFieldDoc {
  flex-grow: 1;
  height: 33px;
  border: 1px solid #aaa;
  margin-top: 0.5rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}