.heading-row.row {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}
.table th, .table td{
    text-align: center;
}
button.btn.btn-sm:disabled {
    background-color: lightgrey !important;
    border-color: lightgrey !important;
    color: black
}
