.heading-row.row {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
.table th, .table td{
    text-align: center;
}
button.btn.btn-sm.disable-button:disabled {
    background-color: lightgrey !important;
    border-color: lightgrey !important;
    color: black
}
.table thead th {
    vertical-align: top;
}
ul.pagination{
    justify-content: center;
    margin: 30px 0;
}
.page-item.active .page-link {
    background-color: #006EBB;
    border-color: #006EBB;
}
.page-link{
    color: #006EBB;
}
button.submitButton.btn.btn-primary {
    background: #006EBB !important;
    border-color: #006EBB !important;
}

.salary-date .react-datepicker-wrapper{
    width: 80% !important;
}
.salary-date input.form-control.salary-view {
    height: 34px;
}
button.disabled-export-button.btn.btn-primary {
    background-color: white !important;
    color: black;
    border-color: white;
}
