/* .TopRow {
    
    height: 10%;
    background-color:rgba(9, 99, 133, 1) !important;
    padding: 3%;
}

.Row2{
    
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: rgba(16, 129, 173, 1) !important;
}

.Row3{
    
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(214, 242, 253, 1);
    color : black;
    padding-left: 5%;
}

.Value {
    width: 155px !important;
    height: 40px;
}

.Tdwidth{
    width:25%;
} */