.page-wrapper .page-body-wrapper .page-sidebar {
    width: 255px;
    position: fixed;
    background: #006EBB;
    top: 0;
    height: calc(100vh);
    z-index: 1000;
    transition: 0.3s;
}

/* .table th, .table td {
    padding: 0.5rem;
}
.page-wrapper .page-body-wrapper .page-header .row h3 {
    font-size: 18px;
}
thead.thead-light th {
    vertical-align: top;
} */
input.disabledValue.form-control {
    background-color: transparent;
    border-color: transparent;
}
input.disabledValue.blueText.form-control{
    color: blue
}
label.labels.form-label.col-form-label {
    font-weight: 600;
}
input.fileButton {
    background-color: white;
    border: none;
}
input.fileButton:hover{
    font-weight: bold;
    text-decoration: underline;
}
label.labels-data.form-label.col-form-label {
    font-size: 0.9rem;
}
input.blueTextData.form-control {
    color: blue;
    font-size: 0.9rem;
}
.row.emp-heading{
    background-color: #006EBB;
    color:white;
    padding: 5px;
    margin-bottom: 25px;
}
select.non-disable.blueTextData.form-control,
input.form-control.non-disable.blueTextData {
    font-size: 0.9rem;
    height: 2.2rem;
    padding: 5px;
    margin: 4px 0;
}