<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Of Conduct</title>
    <style>
    .img-insert{
        display: block;
        height: auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
}
    </style>
</head>
<body>
    <div class="container">
        <img class='img-insert' src="../img/img1.png" alt="page1">
        <img class='img-insert' src="../img/img2.png" alt="page2">
        <img class='img-insert' src="../img/img3.png" alt="page3">
        <img class='img-insert' src="../img/img4.png" alt="page4">
        <img class='img-insert' src="../img/img5.png" alt="page5">
        <img class='img-insert' src="../img/img6.png" alt="page6">
        <img class='img-insert' src="../img/img7.png" alt="page7">
        <img class='img-insert' src="../img/img8.png" alt="page8">
        <a href="https://decathlon.whispli.com/alerte" target="_blank"><img class='img-insert' src="../img/img9.png" alt="page9"></a>
        <a href="https://decathlon.whispli.com/alerte" target="_blank"><img class='img-insert' src="../img/img10.png" alt="page10"></a>
        <img class='img-insert' src="../img/img11.png" alt="page11">
        <img class='img-insert' src="../img/img12.png" alt="page12">
        <img class='img-insert' src="../img/img13.png" alt="page13">
        <img class='img-insert' src="../img/img14.png" alt="page14">
        <img class='img-insert' src="../img/img15.png" alt="page15">
        <img class='img-insert' src="../img/img16.png" alt="page16">
        <img class='img-insert' src="../img/img17.png" alt="page17">
        <img class='img-insert' src="../img/img18.png" alt="page18">
        <img class='img-insert' src="../img/img19.png" alt="page19">
        <img class='img-insert' src="../img/img20.png" alt="page20">
        <img class='img-insert' src="../img/img21.png" alt="page21">
        <img class='img-insert' src="../img/img22.png" alt="page22">
        <img class='img-insert' src="../img/img23.png" alt="page23">
        <img class='img-insert' src="../img/img24.png" alt="page24">
        <img class='img-insert' src="../img/img25.png" alt="page25">
        <img class='img-insert' src="../img/img26.png" alt="page26">
        <img class='img-insert' src="../img/img27.png" alt="page27">
        <img class='img-insert' src="../img/img28.png" alt="page28">
        <img class='img-insert' src="../img/img29.png" alt="page29">
        <img class='img-insert' src="../img/img30.png" alt="page30">
        <img class='img-insert' src="../img/img31.png" alt="page31">
        <img class='img-insert' src="../img/img32.png" alt="page32">
        <img class='img-insert' src="../img/img33.png" alt="page33">
        <img class='img-insert' src="../img/img34.png" alt="page34">
        <img class='img-insert' src="../img/img35.png" alt="page35">
        <img class='img-insert' src="../img/img36.png" alt="page36">
        <img class='img-insert' src="../img/img37.png" alt="page37">
        <img class='img-insert' src="../img/img38.png" alt="page38">
        <img class='img-insert' src="../img/img39.png" alt="page39">
        <img class='img-insert' src="../img/img40.png" alt="page40">
        <img class='img-insert' src="../img/img41.png" alt="page41">
        <img class='img-insert' src="../img/img42.png" alt="page42">
        <img class='img-insert' src="../img/img43.png" alt="page43">
        <img class='img-insert' src="../img/img44.png" alt="page44">
        <img class='img-insert' src="../img/img45.png" alt="page45">
        <img class='img-insert' src="../img/img46.png" alt="page46">
        <img class='img-insert' src="../img/img47.png" alt="page47">
        <img class='img-insert' src="../img/img48.png" alt="page48">
        <img class='img-insert' src="../img/img49.png" alt="page49">
        <img class='img-insert' src="../img/img50.png" alt="page50">
        <img class='img-insert' src="../img/img51.png" alt="page51">
        <img class='img-insert' src="../img/img52.png" alt="page52">
    </div>
    
</body>
</html>